<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Korrektur eines Studenten ansehen">
    <meta name="author" content="Marvin0109">
    <link rel="icon" href="/public/pictures/exambyteIcon.ico">

    <title>Korrekturübersicht</title>

    <link rel="stylesheet" href="/public/fontawesome-free-7.1.0-web/css/all.min.css">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/public/bootstrap-5.3.8-dist/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/public/custom/index.css">
</head>

<body>
<!-- Navigation -->
<header th:replace="~{navigation/navbar.html}"> </header>

<main role="main" class="container mt-5 pt-5">

    <h1 th:text="${view.examTitle}">Testtitel</h1>

    <h5 th:text="'Korrektor: ' + ${view.authorName}">Korrektoren</h5>

    <h5 th:text="'Punktestand: ' + ${view.erreichtePunkte} + ' / ' + ${view.maxPunkte}">Punktestand</h5>

    <div th:each="viewItem, iterStat : ${view.components}" class="mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" th:text="'Aufgabe ' + (${iterStat.index}+1)">Aufgabe</h5>
                <p class="card-text" th:text="${viewItem.frage.frageText}">Fragestellung</p>

                <!-- Multiple Choice -->
                <div class="mb-2" th:if="${viewItem.frage.type.name == 'MC'}">
                    <div class="form-check mb-2"
                         th:each="choice : ${#strings.arraySplit(viewItem.correctAnswers.choices, ',')}">
                        <input class="form-check-input"
                               type="checkbox"
                               disabled="disabled"
                               th:id="'antwort-' + ${viewItem.frage.id} + '-' + ${iterStat.index}"
                               th:name="${viewItem.frage.id}"
                               th:checked="${#arrays.contains(
                               #strings.arraySplit(viewItem.answer.answer, ','),
                               choice)}"
                               th:value="${choice}" />
                        <label class="form-check-label w-100"
                               th:for="'antwort-' + ${viewItem.frage.id} + '-' + ${iterStat.index}"
                               th:text="${choice.replace('ĸ', ',')}">
                        </label>
                    </div>
                </div>

                <!-- Single Choice -->
                <div class="mb-2" th:if="${viewItem.frage.type.name == 'SC'}">
                    <div class="form-check mb-2"
                         th:each="choice : ${#strings.arraySplit(viewItem.correctAnswers.choices, ',')}">
                        <input class="form-check-input"
                               type="radio"
                               disabled="disabled"
                               th:id="'antwort-' + ${viewItem.frage.id} + '-' + ${iterStat.index}"
                               th:name="${viewItem.frage.id}"
                               th:checked="${#arrays.contains(
                               #strings.arraySplit(viewItem.answer.answer, ','),
                               choice)}"
                               th:value="${choice}" />
                        <label class="form-check-label w-100"
                               th:for="'antwort-' + ${viewItem.frage.id} + '-' + ${iterStat.index}"
                               th:text="${choice.replace('ĸ', ',')}">
                        </label>
                    </div>
                </div>

                <!-- Freitext -->
                <div class="mb-2" th:if="${viewItem.frage.type.name == 'FREE_RESPONSE'}">
                    <label class="form-label"
                           th:for="'antwort-' + ${viewItem.frage.id} + '-' + ${iterStat.index}">
                        Antwort:
                    </label>
                    <textarea th:name="${viewItem.frage.id}"
                              th:id="'antwort-' + ${viewItem.frage.id} + '-' + ${iterStat.index}"
                              class="form-control"
                              disabled="disabled"
                              th:text="${viewItem.answer.answer}">
                    </textarea>
                </div>

                <!-- Bewertung -->
                <div class="mt-3 p-2 bg-light border rounded" th:if="${viewItem.review != null}">
                    <strong>Bewertung:</strong>
                    <span th:text="${viewItem.review.bewertung}" style="white-space: pre-line;">
                        Bewertungstext
                    </span>
                    <p>
                        <strong>
                            Punkte:
                        </strong>
                        <span th:text="${viewItem.review.punkte} + ' / ' + ${viewItem.frage.maxPunkte}">Punkte vergeben</span>
                    </p>

                </div>
            </div>
        </div>
    </div>

</main>

<!-- Navigation -->
<header th:replace="~{navigation/navbarDown.html}"> </header>

<!-- js Imports -->
<script defer src="/public/bootstrap-5.3.8-dist/js/bootstrap.min.js"></script>

</body>
</html>