<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Bearbeitungsseite einer Prüfung mit alten Antworten">
    <meta name="author" content="Marvin0109">
    <link rel="icon" href="/public/pictures/exambyteIcon.ico">

    <title>Tests bearbeiten</title>

    <link rel="stylesheet" href="/public/fontawesome-free-7.1.0-web/css/all.min.css">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/public/bootstrap-5.3.8-dist/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/public/custom/index.css">
</head>

<body>
<!-- Navigation -->
<header th:replace="~{navigation/navbar.html}"> </header>

<main role="main" class="container mt-5 pt-5">

    <form th:action="@{/student/submit/{examFachId}(examFachId=${exam.examId})}" method="post" th:object="${submitForm}">

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <h1 th:text="${exam.examTitle}">Testtitel</h1>

        <div th:each="component, iterStat : ${exam.components}" class="mb-3">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="'Aufgabe ' + (${iterStat.index}+1)">Aufgabe</h5>
                    <p class="card-text" th:text="${component.fragen.frageText}">Fragestellung</p>

                    <!-- Multiple Choice -->
                    <div class="mb-2" th:if="${component.fragen.type.name == 'MC'}">
                        <div class="form-check mb-2"
                             th:each="antwort : ${#strings.arraySplit(component.korrekteAntworten.antwortOptionen, ',')}">
                            <input class="form-check-input"
                                   type="checkbox"
                                   th:id="'antwort-' + ${component.fragen.fachId} + '-' + ${iterStat.index}"
                                   th:name="${component.fragen.fachId}"
                                   th:field="*{answers[__${component.fragen.fachId}__]}"
                                   th:value="${antwort}" />
                            <label class="form-check-label w-100"
                                   th:for="'antwort-' + ${component.fragen.fachId} + '-' + ${iterStat.index}"
                                   th:text="${antwort.replace('ĸ', ',')}">
                            </label>
                        </div>
                    </div>

                    <!-- Single Choice -->
                    <div class="mb-2" th:if="${component.fragen.type.name == 'SC'}">
                        <div class="form-check mb-2"
                             th:each="antwort : ${#strings.arraySplit(component.korrekteAntworten.antwortOptionen, ',')}">
                            <input class="form-check-input"
                                   type="radio"
                                   th:id="'antwort-' + ${component.fragen.fachId} + '-' + ${iterStat.index}"
                                   th:name="${component.fragen.fachId}"
                                   th:field="*{answers[__${component.fragen.fachId}__]}"
                                   th:value="${antwort}" />
                            <label class="form-check-label w-100"
                                   th:for="'antwort-' + ${component.fragen.fachId} + '-' + ${iterStat.index}"
                                   th:text="${antwort.replace('ĸ', ',')}">
                            </label>
                        </div>
                    </div>

                    <!-- Freitext -->
                    <div class="mb-2" th:if="${component.fragen.type.name == 'FREITEXT'}">
                        <label class="form-label"
                               th:for="'antwort-' + ${component.fragen.fachId} + '-' + ${iterStat.index}">
                        </label>
                        <textarea th:name="${component.fragen.fachId}"
                                  th:id="'antwort-' + ${component.fragen.fachId} + '-' + ${iterStat.index}"
                                  th:field="*{answers[__${component.fragen.fachId}__]}"
                                  class="form-control" rows="6">
                        </textarea>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-paper-plane"></i>
            Test abschicken
        </button>
    </form>

</main>

<!-- Navigation -->
<header th:replace="~{navigation/navbarDown.html}"> </header>

<!-- js Imports -->
<script defer src="/public/bootstrap-5.3.8-dist/js/bootstrap.min.js"></script>

</body>
</html>