<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Seite zur Erstellung von Prüfungen">
    <meta name="author" content="Marvin0109">
    <link rel="icon" href="/public/pictures/exambyteIcon.ico">

    <title>Tests erstellen</title>

    <link rel="stylesheet" href="/public/fontawesome-free-7.1.0-web/css/all.min.css">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/public/bootstrap-5.3.8-dist/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/public/custom/index.css">
</head>

<body>
<!-- Navigation -->
<header th:replace="~{navigation/navbar.html}"> </header>

<main role="main" class="container mt-5 pt-5">

    <!-- Flash Message anzeigen -->
    <div th:if="${message}" class="alert"
         th:classappend="${success} ? 'alert-success' : 'alert-danger'" role="alert">
        <span th:text="${message}"></span>
    </div>

    <h1>Test Generator</h1>

    <div class="alert alert-info" role="alert">
        <i class="fas fa-info-circle fa-lg me-2"></i>
        <p>
            Hier auf der Seite werden die Tests erstellt. Nach dem Ausfüllen aller Fragen und Antworten sowie Fristen
            geben Sie bitte den Test ab und wird ab dem von Ihnen gesetzten Startzeitpunkt bearbeitbar sein.
        </p>
        <p>
            <strong>
                Hinweis: Das ganze Zulassungsszenario ist da drauf ausgelegt, dass es keine zwei oder mehr Tests am
                selben Zeitpunkt starten!
            </strong>
        </p>
    </div>

    <form th:action="@{/professor/createExam}" method="post" th:object="${examForm}">
        <h2>Test Metadaten</h2>

        <div class="mb-3">
            <label for="title">Titel:</label>
            <input type="text" id="title" th:field="*{title}" class="form-control">
            <small class="text-danger d-block" th:errors="*{title}"></small>
        </div>

        <div class="mb-3">
            <label for="startzeit">Startzeit:</label>
            <input type="datetime-local" id="startzeit" th:field="*{start}" class="form-control">
            <small class="text-danger d-block" th:errors="*{start}"></small>
        </div>

        <div class="mb-3">
            <label for="endzeit">Endzeit:</label>
            <input type="datetime-local" id="endzeit" th:field="*{end}" class="form-control">
            <small class="text-danger d-block" th:errors="*{end}"></small>
        </div>

        <div class="mb-5">
            <label for="ergebniszeit">Ergebniszeit:</label>
            <input type="datetime-local" id="ergebniszeit" th:field="*{result}" class="form-control">
            <small class="text-danger d-block" th:errors="*{result}"></small>
        </div>

        <h2>Fragen</h2>

        <div th:each="question, iterStat : ${questionForm.questionTypeList}">
            <h3>Frage <span th:text="${iterStat.index + 1}"></span>:
                <span th:switch="${question.name()}">
                    <span th:case="'MC'">Multiple Choice</span>
                    <span th:case="'SC'">Single Choice</span>
                    <span th:case="'FREITEXT'">Freitext</span>
                </span>
            </h3>

            <div class="mb-4" th:if="${question.name() == 'MC'}">
                <!-- Punkte -->
                <div class="mb-3">
                    <label th:for="'mc_points_' + ${iterStat.index}">Punkte:</label>
                    <input type="number"
                           th:id="'mc_points' + ${iterStat.index}"
                           th:field="*{questions[__${iterStat.index}__].punkte}"
                           class="form-control"
                           min="0.5"
                           step="0.5">
                    <small class="text-danger d-block"
                           th:if="${#fields.hasErrors('questions[__${iterStat.index}__].punkte')}"
                           th:errors="*{questions[__${iterStat.index}__].punkte}"></small>
                </div>

                <!-- Frageart (wird automatisch auf MC gesetzt) -->
                <input type="hidden" th:name="|questions[${iterStat.index}].type|" th:value="MC"/>

                <!-- Fragetext -->
                <div class="mb-3">
                    <label th:for="'mc_question_' + ${iterStat.index}">Frage:</label>
                    <textarea th:id="'mc_question_' + ${iterStat.index}"
                              th:field="*{questions[__${iterStat.index}__].questionText}"
                              class="form-control"
                              placeholder="Frage eingeben"></textarea>
                    <small class="text-danger d-block"
                           th:if="${#fields.hasErrors('questions[__${iterStat.index}__].questionText')}"
                           th:errors="*{questions[__${iterStat.index}__].questionText}"></small>
                </div>

                <!-- Antwortmöglichkeiten -->
                <div class="mb-3">
                    <label th:for="'mc_choices_' + ${iterStat.index}">Antwortmöglichkeiten (durch Enter getrennt):</label>
                    <textarea rows="6"
                              th:id="'mc_choices_' + ${iterStat.index}"
                              th:field="*{questions[__${iterStat.index}__].choices}"
                              class="form-control"
                              placeholder="Antwort 1&#10;Antwort 2"></textarea>
                    <small class="text-danger d-block"
                           th:if="${#fields.hasErrors('questions[__${iterStat.index}__].choices')}"
                           th:errors="*{questions[__${iterStat.index}__].choices}"></small>
                </div>

                <!-- Lösungen -->
                <div class="mb-3">
                    <label th:for="'mc_correctAnswers_' + ${iterStat.index}">Richtige Antworten (durch Enter getrennt)
                    </label>
                    <textarea rows="6" th:id="'mc_correctAnswers_' + ${iterStat.index}"
                              th:field="*{questions[__${iterStat.index}__].correctAnswers}"
                              class="form-control"
                              placeholder="Lösung 1&#10;Lösung 2"></textarea>
                    <small class="text-danger d-block"
                           th:if="${#fields.hasErrors('questions[__${iterStat.index}__].correctAnswers')}"
                           th:errors="*{questions[__${iterStat.index}__].correctAnswers}"></small>
                </div>
            </div>

            <div class="mb-4" th:if="${question.name() == 'SC'}">
                <!-- Punkte -->
                <div class="mb-3">
                    <label th:for="'sc_points_' + ${iterStat.index}">Punkte:</label>
                    <input type="number"
                           th:id="'sc_points' + ${iterStat.index}"
                           th:field="*{questions[__${iterStat.index}__].punkte}"
                           class="form-control"
                           min="0.5"
                           step="0.5">
                    <small class="text-danger d-block"
                           th:if="${#fields.hasErrors('questions[__${iterStat.index}__].punkte')}"
                           th:errors="*{questions[__${iterStat.index}__].punkte}"></small>
                </div>

                <!-- Frageart (wird automatisch auf SC gesetzt) -->
                <input type="hidden" th:name="|questions[${iterStat.index}].type|" th:value="SC"/>

                <!-- Fragetext -->
                <div class="mb-3">
                    <label th:for="'sc_question_' + ${iterStat.index}">Frage:</label>
                    <textarea th:id="'sc_question_' + ${iterStat.index}"
                              th:field="*{questions[__${iterStat.index}__].questionText}"
                              class="form-control"
                              placeholder="Frage eingeben"></textarea>
                    <small class="text-danger d-block"
                           th:if="${#fields.hasErrors('questions[__${iterStat.index}__].questionText')}"
                           th:errors="*{questions[__${iterStat.index}__].questionText}"></small>
                </div>

                <!-- Antwortmöglichkeiten -->
                <div class="mb-3">
                    <label th:for="'sc_choices_' + ${iterStat.index}">Antwortmöglichkeiten (durch Enter getrennt):</label>
                    <textarea rows="6"
                              th:id="'sc_choices_' + ${iterStat.index}"
                              th:field="*{questions[__${iterStat.index}__].choices}"
                              class="form-control"
                              placeholder="Antwort 1&#10;Antwort 2"></textarea>
                    <small class="text-danger d-block"
                           th:if="${#fields.hasErrors('questions[__${iterStat.index}__].choices')}"
                           th:errors="*{questions[__${iterStat.index}__].choices}"></small>
                </div>

                <!-- Richtige Antwort -->
                <div class="mb-3">
                    <label th:for="'sc_correctAnswer_' + ${iterStat.index}">Richtige Antwort:</label>
                    <input type="text"
                           th:id="'sc_correctAnswer_' + ${iterStat.index}"
                           th:field="*{questions[__${iterStat.index}__].correctAnswer}"
                           class="form-control"
                           placeholder="Exakt richtige Antwort eingeben">
                    <small class="text-danger d-block"
                           th:if="${#fields.hasErrors('questions[__${iterStat.index}__].correctAnswer')}"
                           th:errors="*{questions[__${iterStat.index}__].correctAnswer}"></small>
                </div>
            </div>

            <div class="mb-4" th:if="${question.name() == 'FREITEXT'}">
                <!-- Punkte -->
                <div class="mb-3">
                    <label th:for="'freitext_points_' + ${iterStat.index}">Punkte:</label>
                    <input type="number"
                           th:id="'freitext_points' + ${iterStat.index}"
                           th:field="*{questions[__${iterStat.index}__].punkte}"
                           class="form-control"
                           min="0.5"
                           step="0.5">
                    <small class="text-danger d-block"
                           th:if="${#fields.hasErrors('questions[__${iterStat.index}__].punkte')}"
                           th:errors="*{questions[__${iterStat.index}__].punkte}"></small>
                </div>

                <!-- Frageart (wird automatisch auf FREITEXT gesetzt) -->
                <input type="hidden" th:name="|questions[${iterStat.index}].type|" th:value="FREITEXT"/>

                <!-- Fragetext -->
                <div class="mb-3">
                    <label th:for="'freitext_question_' + ${iterStat.index}">Frage:</label>
                    <textarea th:id="'ft_question_' + ${iterStat.index}"
                              th:field="*{questions[__${iterStat.index}__].questionText}"
                              class="form-control"
                              rows="8"
                              placeholder="Frage eingeben"></textarea>
                    <small class="text-danger d-block"
                           th:if="${#fields.hasErrors('questions[__${iterStat.index}__].questionText')}"
                           th:errors="*{questions[__${iterStat.index}__].questionText}"></small>
                </div>
            </div>
        </div>

        <br>
        <button type="submit" class="btn btn-primary">Test speichern</button>
    </form>

</main>

<!-- Navigation -->
<header th:replace="~{navigation/navbarDown.html}"> </header>

<!-- js Imports -->
<script src="/public/bootstrap-5.3.8-dist/js/bootstrap.min.js"></script>

</body>
</html>