logging:
  level:
    org:
      springframework:
        security: info
    root: error
    org.springframework.jdbc.core: trace

spring:
  application:
    name: ExamByte
  devtools:
    restart:
      enabled: true
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html

  security:
    oauth2:
      client:
        registration:
          github:
            client-id: ${CLIENT_ID}
            client-secret: ${CLIENT_SECRET}
            scope: read:public_repo
        provider:
          github:
            authorization-uri: https://github.com/login/oauth/authorize
            token-uri: https://github.com/login/oauth/access_token
            user-info-uri: https://api.github.com/user

  web:
    resources:
      cache:
        cachecontrol:
          no-store: true

  datasource:
    url: jdbc:postgresql://localhost:5432/exambyte_db
    username: exambyte_user
    password: exambyte_password
    driver-class-name: org.postgresql.Driver
  flyway:
    enabled: false
    locations: classpath:db/migration # Definiert den Speicherort der Migrationsskripte
  jpa:
    properties:
      hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    hibernate:
      ddl-auto: update

axon:
  axonserver:
    servers: 127.0.0.1.***:8124