<!DOCTYPE html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Seite nicht gefunden</title>
    <link rel="stylesheet" type="text/css" th:href="@{/public/custom/errorPages/error.css}">
</head>
<body>
<main>
    <h1>403</h1>
    <p> <img src="/public/pictures/peepoBanned.webp" alt="Gebannter Peepo"> </p>
    <p>Keine Berechtigung für diese Seite.</p>
    <p>Ask the mods.</p>
    <p th:text="${errorMessage}"></p>
    <a th:href="@{/}">Zurück zur Startseite</a>
</main>
</body>
</html>