<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>POST Request noch nicht erlaubt</title>
    <link rel="stylesheet" type="text/css" th:href="@{/public/custom/errorPages/error.css}">
</head>
<body>
<h1>405</h1>
<p> <img src="/public/pictures/xqcDespair.webp" alt="XQC Despair Gif"> </p>
<p>POST Requests funktionieren noch nicht.</p>
<p>Why are the devs so slow???</p>
<p th:text="${errorMessage}"></p>
<a th:href="@{/}">Zurück zur Startseite</a>
</body>
</html>