<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Kontaktseite">
    <meta name="author" content="Marvin0109">
    <link rel="icon" href="/public/pictures/exambyteIcon.ico">

    <title>Kontakt</title>

    <link rel="stylesheet" href="/public/fontawesome-free-7.1.0-web/css/all.min.css">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/public/bootstrap-5.3.8-dist/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/public/custom/index.css">
</head>

<body>
<!-- Navigation -->
<header th:replace="~{navigation/navbar.html}"> </header>

<main role="main" class="container mt-5 pt-5">
    <h1>Hi <span th:text="${name}">Name</span>!</h1>
    <p>You can contact us here. Future feature? Who knows ...</p>
    <p> <img src="/public/pictures/workCat.webp" alt="Working Cat GIF"> </p>
</main>

<!-- Navigation -->
<header th:replace="~{navigation/navbarDown.html}"> </header>

<!-- js Imports -->
<script src="/public/bootstrap-5.3.8-dist/js/bootstrap.min.js"></script>

</body>
</html>