<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <script type="module" id="truffle-injected" data-runtime="bkkjeefjfjcfdfifddmkdmcpmaakmelp" src="chrome-extension://bkkjeefjfjcfdfifddmkdmcpmaakmelp/./injected-script/index.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="public/pictures/exambyteIcon.ico">

        <title>Tests</title>

        <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

        <!-- Bootstrap core CSS -->
        <link href="public/bootstrap-4.0.0/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="public/custom/index.css" rel="stylesheet">
        <link href="public/custom/popup.css" rel="stylesheet">
    </head>

    <body>
    <!-- Navigation -->
    <header th:replace="~{navigation/navbar.html}"> </header>

        <main role="main" class="container mt-5 pt-5">

            <h1>Tests erstellen</h1>
            <p>Zugriff nur für Organisatoren.</p>


        </main>

        <!-- js Imports -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <script src="public/bootstrap-4.0.0/js/bootstrap.min.js"></script>
        <script src="public/js/scripts.js"></script>

    </body>
</html>