<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Startseite">
    <meta name="author" content="Marvin0109">
    <link rel="icon" href="/public/pictures/exambyteIcon.ico">

    <title>ExamByte</title>

    <link rel="stylesheet" href="/public/fontawesome-free-7.1.0-web/css/all.min.css">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/public/bootstrap-5.3.8-dist/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/public/custom/index.css">
</head>

<body>
<!-- Navigation -->
<header th:replace="~{navigation/navbar.html}"> </header>

<main role="main" class="container mt-5 pt-5">

    <h1>Willkommen bei ExamByte</h1>
    <p class="lead">
        Auf ExamByte kann man einfach und sicher Online-Tests bearbeiten und eine Zulassung erhalten nach erfolgreicher
        bearbeitung aller Tests.
    </p>

    <div class="row mt-5">
        <div class="col-md-4">
            <h3>Tests erstellen</h3>
            <p>Erstellen Sie Tests mit beliebig vielen Fragen in wenigen Minuten.</p>
        </div>
        <div class="col-md-4">
            <h3>Automatische Bewertung</h3>
            <p>Multiple / Single Choice werden automatisch bewertet,
                Freitextantworten müssen manuell korrigiert werden.</p>
        </div>
        <div class="col-md-4">
            <h3>Plagiatschutz</h3>
            <p>Alle Antworten werden auf Plagiate geprüft, um faire Ergebnisse zu garantieren.</p>
        </div>
    </div>

    <div class="container mt-5">
        <div class="alert alert-info rounded-3 d-flex align-items-center" role="alert">
            <i class="fas fa-info-circle fa-lg me-2"></i>
            <div>
                Hinweis: Diese Plattform dient ausschließlich zu Lern-, Übung- und Testzwecken.
                Damit Sie alle Features im vollen Umfang verwenden können, melden Sie sich mit Ihrem Github Login Daten
                an.
                Anschließend wählen Sie in den Einstellungen Ihre gewünschte Rolle.
            </div>

        </div>
    </div>


</main>

<!-- Navigation -->
<header th:replace="~{navigation/navbarDown.html}"> </header>

<!-- js Imports -->
<script src="/public/bootstrap-5.3.8-dist/js/bootstrap.min.js"></script>

</body>
</html>