<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Impressum">
    <meta name="author" content="Marvin0109">
    <link rel="icon" href="/public/pictures/exambyteIcon.ico">

    <title> Impressum </title>

    <link rel="stylesheet" href="/public/fontawesome-free-7.1.0-web/css/all.min.css">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/public/bootstrap-5.3.8-dist/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/public/custom/index.css">
</head>

<body class="d-flex flex-column min-vh-100">
<!-- Navigation top -->
<header th:replace="~{navigation/navbar.html}"> </header>

<main role="main" class="container mt-5 pt-5">

    <h1> Impressum </h1>

    <h2> Über ExamByte </h2>

    <p>
        ExamByte ist ein privates Lern- und Demonstrationsprojekt, das zu Lern-, Übungs-,
        Test- und Demonstrationszwecken entwickelt wurde. Die Plattform wird kostenlos bereitgestellt und bietet keine
        kostenpflichtigen Dienstleistungen, Produkte oder Abonnements an.
        Es werden keine Werbeanzeigen geschaltet und keine anderen Formen der Monetarisierung betrieben.
    </p>

    <p>
        Das Projekt ist ausschließlich öffentlich zugänglich, um interessierten Personen
        die Funktionalität und technische Umsetzung der Plattform zu demonstrieren.
    </p>

</main>

<!-- Footer -->
<footer th:replace="~{navigation/footer.html}"> </footer>

<!-- js Imports -->
<script src="/public/bootstrap-5.3.8-dist/js/bootstrap.min.js"></script>

</body>
</html>