<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Einstellungen">
    <meta name="author" content="Marvin0109">
    <link rel="icon" href="/public/pictures/exambyteIcon.ico">

    <title>Einstellungen</title>

    <link rel="stylesheet" href="/public/fontawesome-free-7.1.0-web/css/all.min.css">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/public/bootstrap-5.3.8-dist/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/public/custom/index.css">
</head>

<body>
<!-- Navigation -->
<header th:replace="~{navigation/navbar.html}"> </header>

<main role="main" class="container mt-5 pt-5">
    <h1>Einstellungen</h1>

    <!-- Flash Message anzeigen -->
    <div th:if="${message}" class="alert"
         th:classappend="${success} ? 'alert-success' : 'alert-danger'" role="alert">
        <span th:text="${message}"></span>
    </div>

    <h2>Willkommen <span th:text="${name}">Name</span>!</h2>

    <div class="container">

        <!-- Rollen -->
        <div class="card mb-1">
            <div class="card-body">
                <div class="mb-2 text-muted small">
                    Aktuelle Rolle: <strong th:text="${role}"></strong>
                </div>

                Rolle wechseln zu:

                <form method="post"
                      th:action="@{/settings/role}"
                      class="d-flex justify-content-center gap-3 mt-3 flex-wrap">
                    <button name="role" class="btn btn-primary btn-role"
                            value="student"
                            th:if="${role != 'Student'}">
                        <i class="fas fa-user-graduate me-1"></i>
                        Student:in
                    </button>

                    <button name="role" class="btn btn-primary btn-role"
                            value="reviewer"
                            th:if="${role != 'Reviewer'}">
                        <i class="fas fa-user-check me-1"></i>
                        Korrektor:in
                    </button>

                    <button name="role" class="btn btn-primary btn-role"
                            value="admin"
                            th:if="${role != 'Admin'}">
                        <i class="fas fa-chalkboard-teacher me-1"></i>
                        Professor:in
                    </button>
                </form>
            </div>
        </div>

        <!-- Admin -->
        <div class="card" th:if="${role} == 'Admin'">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-md-3 fw-bold">
                        Exam-Daten löschen
                    </div>
                    <div class="col-md-9">
                        <form method="post"
                              th:action="@{/settings/reset}"
                              class="d-flex justify-content-end">
                            <input type="hidden"
                                   th:name="${_csrf.parameterName}"
                                   th:value="${_csrf.token}" />
                            <button type="submit" class="btn btn-danger">
                                <i class="fas fa-trash-alt"></i>
                                Löschen
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<!-- Navigation -->
<header th:replace="~{navigation/navbarDown.html}"> </header>

<!-- js Imports -->
<script src="/public/bootstrap-5.3.8-dist/js/bootstrap.min.js"></script>

</body>
</html>