<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" xmlns:th="http://www.w3.org/1999/xhtml">
  <a class="navbar-brand" href="/">
    <img src="public/pictures/HHUKoksLogo.jpg" alt="HHU Koks Logo" style="height: 75px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Collapsible Navbar Links -->
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" th:classappend="${currentPath == '/'} ? 'active' : ''">
        <a class="nav-link" href="/">
          Home
          <span class="sr-only" th:if="${currentPath == '/'}">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/exams">
          Tests
        </a>
      </li>
      <li class="nav-item" th:classappend="${currentPath == '/contact'} ? 'active' : ''">
        <a class="nav-link" href="/contact">
          Contact
          <span class="sr-only" th:if="${currentPath == '/contact'}">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"> ??? </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" th:href="@{/oauth2/authorization/github}">Login mit GitHub</a>
      </li>
      <li class="nav-item" th:if="${#authentication.name != 'anonymousUser'}">
        <form th:action="@{/logout}" method="post" style="display: inline;">
          <button class="btn btn-link nav-link" type="submit">Logout</button>
        </form>
      </li>
      <!-- Hier kommen weitere links hinzu (li navbar-nav mr-auto und a...)//-->
    </ul>
    <form class="form-inline mt-2 mt-md-0 d-flex" method="get" action="">
                        <span class="input-group-text" id="search-icon">
                            <i class="fas fa-search"></i> <!-- Font Awesome Lupe -->
                        </span>
      <!-- Suchfeld -->
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <!-- Submit-Button -->
      <button class="btn btn-outline-success my-2 my-sm-0 ml-2" type="submit">Search</button>
    </form>
  </div>
</nav>
