<div style="height: 100px;"></div>

<nav class="navbar navbar-dark fixed-bottom bg-dark">
    <div class="container-fluid d-flex flex-row">
        <ul class="navbar-nav flex-row">
            <li class="nav-item" th:if="${#authorization.expression('hasAnyRole(''STUDENT'',''REVIEWER'',''ADMIN'')')}">
                <a class="nav-link" th:classappend="${currentPath == '/contact'} ? ' active' : ''"
                    href="/contact">
                    <i class="fas fa-envelope me-1"></i>
                    Kontakt
                    <span class="visually-hidden" th:if="${currentPath == '/contact'}">(current)</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="https://github.com/Marvin0109/ExamByte">
                    <i class="fab fa-github"></i> Quellcode
                </a>
            </li>
        </ul>
    </div>
</nav>