<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- <script type="module" id="truffle-injected" data-runtime="bkkjeefjfjcfdfifddmkdmcpmaakmelp" src="chrome-extension://bkkjeefjfjcfdfifddmkdmcpmaakmelp/./injected-script/index.js"></script> -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/public/pictures/exambyteIcon.ico">

        <title>Tests Erstellen</title>

        <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

        <!-- Bootstrap core CSS -->
        <link href="/public/bootstrap-4.0.0/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/public/custom/index.css" rel="stylesheet">
    </head>

    <body>
        <!-- Navigation -->
        <header th:replace="~{navigation/navbar.html}"> </header>

        <main role="main" class="container mt-5 pt-5">

            <div class="container mt-5">
                <h1>Tests Erstellen</h1>
                <form th:action="@{/exams/examsProfessoren}" method="post" th:object="${examForm}" id="exam">
                    <!-- Titel des Tests -->
                    <div class="form-group">
                        <label for="title">Titel des Tests</label>
                        <input type="text" class="form-control" id="title" th:field="*{title}" required>
                        <span class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                    </div>

                    <!-- Startzeit -->
                    <div class="form-group">
                        <label for="startTime">Startzeit</label>
                        <input type="datetime-local" class="form-control" id="startTime" th:field="*{start}" required>
                        <span class="text-danger" th:if="${#fields.hasErrors('start')}" th:errors="*{start}"></span>
                    </div>

                    <!-- Endzeit -->
                    <div class="form-group">
                        <label for="endTime">Endzeit</label>
                        <input type="datetime-local" class="form-control" id="endTime" th:field="*{end}" required>
                        <span class="text-danger" th:if="${#fields.hasErrors('end')}" th:errors="*{end}"></span>
                    </div>

                    <!-- Ergebniszeit -->
                    <div class="form-group">
                        <label for="resultTime">Ergebniszeit</label>
                        <input type="datetime-local" class="form-control" id="resultTime" th:field="*{result}" required>
                        <span class="text-danger" th:if="${#fields.hasErrors('result')}" th:errors="*{result}"></span>
                    </div>
                    <br>

                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary">Test erstellen</button>


                        <!-- Frage einfügen Vorlage -->
                        <div id="questionTemplate" style="display: none;">
                            <div class="form-group question-block">

                                <label>Frage Typ</label><br>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" for="SC_{{questionIndex}}">Single Choice (SC)</label>
                                    <input class="form-check-input" type="radio" id="SC_{{questionIndex}}" name="questionType_{{questionIndex}}"
                                           value="SC" required>
                                </div>

                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" for="MC_{{questionIndex}}">Multiple Choice (MC)</label>
                                    <input class="form-check-input" type="radio" id="MC_{{questionIndex}}" name="questionType_{{questionIndex}}"
                                           value="MC" required>
                                </div>

                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" for="FREITEXT_{{questionIndex}}">Freitext</label>
                                    <input class="form-check-input" type="radio" id="FREITEXT_{{questionIndex}}" name="questionType_{{questionIndex}}"
                                           value="FREITEXT" required>
                                </div>
                                <!-- Error hier -->

                                <!-- Dynamische Felder -->

                                <!-- Freitext Aufgabe -->
                                <div id="freitext_question_{{questionIndex}}" style="display : none;">
                                    <label for="frageText_{{questionIndex}}">Frage</label>
                                    <textarea class="form-control question-text" rows="20" placeholder="Frage eingeben"
                                              id="frageText_{{questionIndex}}"
                                              required></textarea>
                                    <!-- Error hier -->
                                    <label for="maxPunkte_{{questionIndex}}">Maximale Punkte</label>
                                    <input type="number" class="form-control max-points" min="1" id="maxPunkte_{{questionIndex}}" required>
                                    <!-- Error hier -->
                                </div>

                                <!-- SC/MC Frage Eingabe -->
                                <div id="SCMC-question_{{questionIndex}}" style="display: none;">
                                    <label for="frageTextSCMC_{{questionIndex}}">Frage</label>
                                    <input type="text" class="form-control" id="frageTextSCMC_{{questionIndex}}" placeholder="Frage eingeben" required>
                                    <!-- Error hier -->
                                    <label for="maxPunkteSCMC_{{questionIndex}}">Maximale Punkte</label>
                                    <input type="number" class="form-control max-points" min="1" id="maxPunkteSCMC_{{questionIndex}}" required>
                                    <!-- Error hier -->
                                </div>

                                <!-- Antwortmöglichkeiten für MC und SC -->
                                <div id="choicesContainer_{{questionIndex}}" style="display: none;">
                                    <label for="choices_{{questionIndex}}">Antwortmöglichkeiten</label>
                                    <input type="text" class="form-control" id="choices_{{questionIndex}}"
                                           placeholder="Antwortmöglichkeiten eingeben"/>
                                    <!-- Error hier -->
                                </div>

                                <!-- SC Lösung -->
                                <div id="correctAnswer_SC_{{questionIndex}}" style="display: none;">
                                    <label for="correctAnswer_{{questionIndex}}">Richtige Antwort:</label>
                                    <input type="text" class="form-control" id="correctAnswer_{{questionIndex}}"
                                           placeholder="Richtige Antwort eingeben"/>
                                    <!-- Error -->
                                </div>

                                <!-- MC Lösungen -->
                                <div id="correctAnswers_MC_{{questionIndex}}" style="display: none;">
                                    <label for="correctAnswers_{{questionIndex}}">Richtige Antworten:</label>
                                    <input type="text" class="form-control" id="correctAnswers_{{questionIndex}}"
                                           placeholder="Richtige Antwort(en) eingeben"/>
                                    <!-- Error hier -->
                                </div>
                                <button type="button" class="btn btn-danger remove-question" style="display: none;" onclick="removeQuestion(this)">Frage entfernen</button>
                            </div>
                        </div>
                    <button type="button" class="btn btn-success" id="addQuestionButton" style="display: inline-block" onclick="addNewQuestion()">Neue Frage hinzufügen</button>
                </form>
            </div>


            <span th:text="${message}"></span>

        </main>

        <!-- js Imports -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <script src="/public/bootstrap-4.0.0/js/bootstrap.min.js"></script>
        <script src="/public/js/addQuestion.js"></script>
    </body>
</html>
