<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/public/pictures/exambyteIcon.ico">

  <title>Tests bearbeiten</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <!-- Bootstrap core CSS -->
  <link href="/public/bootstrap-4.0.0/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/public/custom/index.css" rel="stylesheet">
  <link href="/public/custom/popup.css" rel="stylesheet">
</head>

<body>
<!-- Navigation -->
<header th:replace="~{navigation/navbar.html}"> </header>

<main role="main" class="container mt-5 pt-5">

    <form th:action="@{/exams/submit/{examFachId}(examFachId=${exam.fachId})}" method="post" th:object="${submitForm}">

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <h1 th:text="${exam.title}">Testtitel</h1>

        <div th:each="frage, iterStat : ${exam.questions}" class="mb-4">

            <label th:text="'Frage ' + (${iterStat.index}+1) + ': ' + ${frage.questionText}"></label>

            <!-- Multiple Choice -->
            <div th:if="${frage.type == 'MC'}">
                <div th:each="antwort : ${#strings.arraySplit(frage.choices, ',')}">
                    <input type="checkbox"
                           th:name="${frage.fachId}"
                           th:field="*{answers[__${frage.fachId}__]}"
                           th:value="${antwort}"/>
                    <label th:text="${antwort.replace('-', ',')}" class="form-check-label"></label>
                </div>
            </div>

            <!-- Single Choice -->
            <div th:if="${frage.type == 'SC'}">
                <div th:each="antwort : ${#strings.arraySplit(frage.choices, ',')}">
                    <input type="radio"
                           th:name="${frage.fachId}"
                           th:field="*{answers[__${frage.fachId}__]}"
                           th:value="${antwort}"/>
                    <label th:text="${antwort.replace('-', ',')}" class="form-check-label"></label>
                </div>
            </div>

            <!-- Freitext -->
            <div th:if="${frage.type == 'FREITEXT'}">
                <textarea th:name="${frage.fachId}"
                          th:field="*{answers[__${frage.fachId}__]}"
                          class="form-control" rows="6"></textarea>
            </div>
        </div>

        <button type="submit" class="btn btn-success">Test abschicken</button>
    </form>

</main>

<!-- Navigation -->
<header th:replace="~{navigation/navbarDown.html}"> </header>

<!-- js Imports -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="/public/bootstrap-4.0.0/js/bootstrap.min.js"></script>
<script src="/public/js/scripts.js"></script>

</body>
</html>