<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Seite für die Korrektur von Antworten">
    <meta name="author" content="Marvin0109">
    <link rel="icon" href="/public/pictures/exambyteIcon.ico">

    <title>Menü</title>

    <link rel="stylesheet" href="/public/fontawesome-free-7.1.0-web/css/all.min.css">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/public/bootstrap-5.3.8-dist/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/public/custom/index.css">
</head>

<body>
<!-- Navigation -->
<header th:replace="~{navigation/navbar.html}"> </header>

<main role="main" class="container mt-5 pt-5">

    <h1>Korrektur</h1>

    <div class="alert alert-info rounded-3 flex-column" role="alert">
        <i class="fas fa-info-circle fa-lg me-2"></i>
        Noch nicht korrigierte Antworten eines Studenten stehen hier zur Verfügung für die manuelle Korrektur.
        Sind alle Antworten korrigiert worden, werden hier <strong>keine</strong> Antworten mehr zur Verfügung stehen.
        Für nachreichende Korrekturen wenden Sie sich am Modulverantwortlichen.
    </div>

    <div th:each="antwort, iterStat : ${antworten}" class="card mb-3">
        <form th:action="@{/exams/createReview/{antwortFachId}(antwortFachId=${antwort.antwortFachId})}" method="post"
              th:object="${reviewForm}">
            <div class="card-body">
                <h5 class="card-title" th:text="${antwort.frageText}">Fragestellung</h5>
                <p class="card-text">
                    <small class="text-muted" th:text="${antwort.maxPunkte} + ' Punkte'">
                        Punkte für Frage
                    </small>
                </p>
                <p class="card-text" th:text="${antwort.antwort}">Antwort des Studenten</p>
                <h5 class="card-title">Bewertung</h5>
                <label class="form-check-label" th:for="'Bewertung' + ${iterStat.index}"></label>
                <textarea class="form-control mb-5" rows="6"
                        th:id="'Bewertung' + ${iterStat.index}"
                        th:field="*{bewertung}">
                </textarea>
                <small class="text-danger" th:if="${#fields.hasErrors('bewertung')}"
                       th:errors="*{bewertung}"></small>

                <h6 class="card-subtitle text-muted">Punkte</h6>
                <label th:for="'Punkte' + ${iterStat.index}"></label>
                <input class="form-control mb-5" type="number" th:id="'Punkte' + ${iterStat.index}"
                       th:field="*{punkteVergeben}" min="0" th:max="${antwort.maxPunkte}">
                <small class="text-danger" th:if="${#fields.hasErrors('punkteVergeben')}"
                       th:errors="*{punkteVergeben}"></small>

                <button type="submit" class="btn btn-primary">Korrektur speichern</button>
            </div>
        </form>
    </div>

</main>

<!-- Navigation -->
<header th:replace="~{navigation/navbarDown.html}"> </header>

<!-- js Imports -->
<script defer src="/public/bootstrap-5.3.8-dist/js/bootstrap.min.js"></script>

</body>
</html>